.CogButtonContainer{
    display:flex;
    justify-content: flex-end;
    height: 100px;
    transition: 0.3s;
}
.CogButton{
    background: transparent;
    border: none;
}
.CogButton:focus{
   outline: none;
}